.wrapper {
    padding: 8px;
}
.heading {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}
.tab-item {
    display: inline;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    color:#ffffff;
    background: #fc7a00;
}

.tab-item.active {
    border-color: #000fff;
    background:greenyellow;
    color:whitesmoke;
}
.content {
    padding: 20px 10px;
    height: 300px;
    overflow: auto;
    background-color: whitesmoke;
}