.load-more-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
  padding-top: 200px;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive: 1-5+ columns */
  gap: 20px;
  width: 100%;
  
  padding: 0 20px;
}

.product {
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.button-container {
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.button-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}