.top-container{
position: fixed;
top:0;
z-index: 1;
width: 100%;
text-align: center;
background-color: rgb(77, 2, 252);
color:white;
font-size: medium;
font-weight: bold;
}
.scroll-container{
width: 100%;
height:10px;
background: #9308f0;
}
.current-container{
    height: 10px;
    background: #00fff2;
    width: 0%;
}
.data-container{
margin-top: 100px;
}